body {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
}

#header {
  background-color: rgba(50, 51, 51, 0.21);
  padding: 7px;
  height: 45px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#content{
  background-color: #61bd4f;
  height: 100vh;
  padding-top: 45px;
  width: 100%;
}

.btn-project {
  background-color: rgba(255,255,255,.3);
  color: #f3f3f3;
  font-weight: bold;
  padding: 6px;
}

.btn-project:hover {
  background-color: rgba(255,255,255,.2);
  cursor: pointer;
}

.stylish-input-group {
  height: 32px;
  font-size: .9em;
}

.stylish-input-group .input-group-addon{
  background-color: rgba(255,255,255,.3) !important;
  border: 0;
}
.input-group-addon .fa-search {
  position: absolute;
  top: 7px;
  right: 20px;
  color: white;
}

.stylish-input-group .form-control{
  box-shadow:0 0 0;
  border: 0;
  background-color: rgba(255,255,255,.3);
}

.stylish-input-group button{
  border:0;
  background:transparent;
}

.show-profile {
  display: block;
}

.btn-notify {
  padding: 6px 8px;
  margin-right: 5px;
}

.show-profile .img-avatar {
  border-radius: 50%;
  border: 2px solid white;
  margin-top: -3px;
  width: 20px;
}

#nav-menu {
  width: 100%;
  height: 40px;
  padding: 5px;
}

#nav-menu .btn-nav {
  background-color: transparent;
  color: #f3f3f3;
  font-weight: bold;
  padding: 6px;
}

#nav-menu .btn-nav:hover {
  background-color: rgba(255,255,255,.2);
  cursor: pointer;
}

#board-container {
  width: 100%;
  height: calc(100vh - 85px);
  background-color: #333;
}

.board-container {
  padding: 0 10px;
  width: 100%;
  display: flex;
}

.item-board {
  background: #E2E4E6;
  border-radius: 3px;
  flex-direction: row;
  height: 100%;
  margin-right: 10px;
  width: 270px;
}

.header-board {
  height: 30px;
  padding: 0 7px;
  display: flex;
}

.header-board h3 {
  float: left;
  font-size: 1em;
  font-weight: bold;
  line-height: 30px;
  padding-left: 5px;
  width: 220px;
}

.btn-info-item-board {
  background-color: transparent;
  color: #b5aeae;
  float: right;
  height: 23px;
  margin-top: 5px;
  padding: 3px;
  width: 23px;
}

.btn-info-item-board:hover {
  background-color: #d8d6d6;
}

.task-board {
  min-height: 20px;
  max-height: calc(100vh - 160px);
  padding: 0 7px;
  overflow-y: auto;
}

.task-board::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.task-board::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.task-board::-webkit-scrollbar-thumb
{
  background-color: #9e9e9e;
}


.task-item {
  width: 100%;
  min-height: 50px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 10px;
}

.task-item:hover {
  cursor: pointer;
  background-color: #f1f0f0;
}

.footer-board {
  clear: both;
  height: 30px;
  padding: 0 7px;
}

.footer-board a {
  color: #929292;
}

.sortable-placeholder {
  width: 100%;
  min-height: 50px;
  border: 2px dashed #CCC;
  border-radius: 4px;
  background: none;
  margin-bottom: 10px;
}

/****************************************/

.div-menu-tooltip {
  margin: 32px 0px 0px -101px;
  padding: 0;
  width: 250px;
  color: gray;
  border: 0;
}

.div-menu-tooltip input {
  background-color: #e2e4e6;
  width: 235px;
  margin: auto;
}

.div-menu-tooltip input {
  background-color: #e2e4e6;
  width: 235px;
  margin: auto;
}

.div-menu-tooltip a {
  border-radius: 5px;
  color: gray;
  margin-top:4px;
  margin: auto;
  padding: 4px 1.25rem;
  text-decoration: none;
  width: 235px;
}

.div-menu-tooltip a:hover {
  background-color: #e2e4e6;
}

.popup-menu-right {
  margin: 37px 692px;
  width: 300px;
}

.title-popup {
  border-bottom: 1px solid gray;
  color: gray;
  text-align: center;
}
/***************************************/
.avatar-profile {
  width: 95px;
  border-radius: 50%;
}

.profile-infor {
  line-height: 45px;
}

.profile-infor {
  margin-top: 27px;
}

.input-profile {
  margin-top: -15px;
  margin-bottom: 0px;
}

.close-popup {
  margin-right: 10px;
  cursor: pointer;
}
